/* #cardImage>div>.bookAttachedIcons {
    position: absolute;
    top: 96px;
    right: -50px;
} */
#cardImage>div>.bookAttachedIcons {
    position: absolute;
    top: 20%;
    right: -35%;
}
/* .card-container:hover>div>#cardImage>div>.bookAttachedIcons {
    top: 96px;
    right: 35px;
    transition: right;
    transition-duration: 500ms;
} */
.card-container:hover>div>#cardImage>div>.bookAttachedIcons {
    top: 20%;
    right: 12%;
    transition: right;
    transition-duration: 500ms;
}
.card-container:hover>div>#cardImage>div {
    background-color: rgba(10, 10, 10, 0.459);
    transition: background-color;
    transition-duration: 500ms;
}
/* hover:scale-110 hover:ease-in-out duration-500 */
.card-container:hover>div>#cardImage {
    background-color: rgba(10, 10, 10, 0.459);
    transform: scale(1.05);
    transition: transform 0.5s;
}

